@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
img {
  width: 100%;
}

#heading1 {
  color: rgb(10, 153, 167);
  font-size: 60px;
  text-align: center;
}

.p1 {
  font-size: 20px;
  /* font-weight: bolder; */
  text-align: center;
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  text-shadow: 2px 2px 50px blue;
}

.img1 {
  width: 80%;
}

.parent {
  width: 50%;
  background-color: rgb(8, 35, 210);
  border-right: 4px solid rgb(136, 255, 0);
  border-top: 4px solid red;
  padding: 10px 20px 30px 40px;
  margin: 10px 60px;
  border-radius: 10px 20px 30px 40px ;
}
.parent img {
  width:200px;
  height: 200px;
  border-radius: 40%;

}
