* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
.parent {
  height: 600px;
  background-color: blueviolet;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  align-content: space-evenly;

  /* flex-direction: column;
  justify-content: space-between;    
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: space-between; */
}
.child {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: bisque;
  padding: 20px 10px;
  border: 2px solid;
}
.child2 {
  /* flex-shrink: 1; */
}
.parent :nth-child(2) {
  flex-grow: 0;
  /* align-self: center; */
}
.parent :nth-child(1) {
  /* flex-grow: 3; */
  /* flex-shrink: 0; */
  /* flex-grow:1; */
  order:-1 ;
  flex-grow: 1;
}


.parent :nth-child(2){
order: -3;
flex-grow: 2;
}
.parent :nth-child(3){
/* order: -2; */
flex-shrink: 0;
}
